langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence-transformers
langchain_huggingface
faiss-cpu
langchain-google-genai
streamlit
langchain-groq
langchain-core
fastapi
uvicorn
langserve
sse-starlette
pydantic==2.10.6
langchain-chroma
arxiv
wikipedia
mysql-connector-python
sqlalchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube